@{
    ViewBag.Title = "Family";
    Layout = "~/Areas/Profile/Views/Shared/layoutProfile.cshtml";
}

<div class="col-lg-12">
    <div class="panel panel-primary bs-example FormShadow">
        <div class="panel-heading">
            <h3 class="panel-title text-center">{{ 'HOROIRF' | translate }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <table width="100%" border="1">
                        <tr>
                            <td>
                                Dasa Balance
                            </td>
                            <td>
                                <select class="form-control" id="ddlDasaBalance" ng-model="frmData[0].DasaBalance">
                                    <option value="0">--Select--</option>
                                    <option ng-repeat="arrDasaBalance in arrDasaBalance" value="{{arrDasaBalance}}">{{arrDasaBalance}}</option>
                                </select>
                            </td>
                            <td>
                                Year
                            </td>
                            <td>
                                <select class="form-control" id="ddlyear" ng-model="frmData[0].Year">
                                    <option value="0">--Select--</option>
                                    <option ng-repeat="arrYear in arrYear" value="{{arrYear}}">{{arrYear}}</option>
                                </select>
                            </td>
                            <td>
                                Month
                            </td>
                            <td>
                                <select class="form-control" id="ddlMonth" ng-model="frmData[0].Month">
                                    <option value="0">--Select--</option>
                                    <option ng-repeat="arrMonth in arrMonth" value="{{arrMonth}}">{{arrMonth}}</option>
                                </select>
                            </td>
                            <td>
                                Days
                            </td>
                            <td>
                                <select class="form-control" id="ddlDays" ng-model="frmData[0].Day">
                                    <option value="0">--Select--</option>
                                    <option ng-repeat="arrDays in arrDays" value="{{arrDays}}">{{arrDays}}</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-12">
                    <br /><br />
                </div>
                <div class="col-lg-6">
                    @using (Html.BeginForm("SaveHoroscopeImage",
        "Profile",
        FormMethod.Post,
        new { enctype = "multipart/form-data" }))
                    {
                        <label for="file">Upload Horoscope Image:</label>
                        <input type="file" name="file" id="file" /><br><br>
                        <input type="submit" value="Upload  Horoscope Image" />
                        <input type="hidden" name="ProfileID" id="ProfileID" /><br>
                        <br><br>
                        @ViewBag.Message
                    }
                    <div class="col-lg-12">
                        <div class="form-group">
                            <div class="col-lg-offset-10">
                                <button id="btnSave" name="btnSave" class="btn btn-primary" ng-click="saveFormData();">{{ 'GENSAVE' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <table width="100%">
                        <tr>
                            <td align="center">
                                Profile Horoscope<br />
                                <img id="imgProfilePic" src="{{frmData[0].Path}}" width="500" height="300" />
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        

        </div>
    </div>
</div>


