@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/MugurthamAdmin/Views/Shared/LayoutMugurthamAdmin.cshtml";    
}
<div class="col-sm-12">
    <h3>Mugurtham Admin Dashboard</h3>
    <hr />
</div>
 
 