@{
    Layout = "~/Areas/Search/Views/Shared/LayoutSearch.cshtml";
}
<div class="col-lg-12">
    <!-- Tabs-->
    <div id="divnavBarSearch">
        <ul class="nav nav-tabs">
            <li><a href="#ProfileID" id="tabProfileID"><i class="fa fa-user" style="font-size:18px"></i>&nbsp; {{ 'GENPROFID' | translate }}</a></li>
            <li class="active"><a href="#AllProfiles" id="tabAllProfiles"><i class="fa fa-users" style="font-size:18px"></i>&nbsp; {{ 'LYTSRCALLPROF' | translate }}</a></li>
            <li><a href="#GeneralSearch" id="tabGeneralSearch"><i class="fa fa-search" style="font-size:18px"></i>&nbsp; {{ 'LYTGENSRC' | translate }}</a></li>
            <li><a href="#SangamSearch" id="tabSangamSearch"><i class="fa fa-building-o" style="font-size:18px"></i>&nbsp; {{ 'LYTSGMSRC' | translate }}</a></li>
        </ul>
    </div>
</div>
<div id="divAllProfileSearch" class="col-lg-12" data-ng-init="getAllProfiles();">
    <br />
    <div class="col-lg-12">
        <!-- Filter Header-->
        <div class="row">
            <div class="col-xs-4">
                <h5><b> Searched Profiles : {{ SearchedProfiles.length }} &nbsp;&nbsp;</b></h5>
            </div>
            <div class="col-xs-3">
                <h5>
                    <b>
                         Filtered Profiles : {{ (SearchedProfiles |filter: (colourFilter)).length}}
                    </b>
                </h5>
            </div>
            <div class="col-xs-5">

                <h5>
                    <b>
                        Showing Profiles {{ (((currentPage * pageSize) - pageSize) + 1)  }}  through {{ currentPage * pageSize }} of  {{ (SearchedProfiles |filter: (colourFilter)).length}} &nbsp;&nbsp;
                    </b>
                </h5>
            </div>
        </div>
        <!-- Top Pagination-->
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/Mugurtham.JS/Paging/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
        <br />




        <!-- Profiles Listing-->
        <!--<ul ng-repeat="movie in ((movies | filter:Filter.Comedy) + (movies | filter:Filter.Action) + (movies | filter:Filter.Drama))">-->

        <div class="panel panel-primary FormShadow" dir-paginate="data in ((AllProfiles.ProfileBasicInfoViewCoreEntityList | filter: (colourFilter) | itemsPerPage: pageSize) ) " current-page="currentPage">
            <div class="panel-heading">
                <h3 class="panel-title text-center">
                    <a href="#/FullView/{{data.MugurthamProfileID}}" target="_blank">  {{data.Name }}</a>
                </h3>
            </div>
            <div class="panel-body bgImage">
                <div class="col-lg-3">
                    <div class="flexslider">
                        <ul class="slides">
                            <li ng-repeat="objProfilePhoto in profilePhotos | filter: {ProfileID: data.MugurthamProfileID}">
                                <img src="{{objProfilePhoto.PhotoPath }} " class="img-thumbnail" style="height:200px; width:350px" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 table-responsive">
                    <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                        <tr>
                            <td class="col-lg-4"><b>{{ 'GENPROFID' | translate}}</b></td>
                            <td class="col-lg-8"><a href="#/FullView/{{data.MugurthamProfileID}}" target="_blank">{{data.MugurthamProfileID }}</a></td>
                        </tr>
                        <tr>
                            <td class="col-lg-4"><b>{{ 'GENSANGAMPROFID' | translate}}</b></td>
                            <td class="col-lg-8"><a href="#/FullView/{{data.MugurthamProfileID}}" target="_blank">{{data.SangamProfileID }}</a></td>
                        </tr>
                        <tr>
                            <td><b>{{ 'BIAGE' | translate}}</b></td>
                            <td>{{data.Age }}</td>
                        </tr>
                        <tr>
                            <td><b>{{ 'BISTR' | translate}}</b></td>
                            <td>{{data.Star }}</td>
                        </tr>
                        <tr>
                            <td><b>{{ 'LYTPRFTABLOC' | translate}}</b></td>
                            <td>{{data.Location }}</td>
                        </tr>
                        <tr>
                            <td><b>{{ 'CREDUC' | translate}}</b></td>
                            <td>{{data.Education }}</td>
                        </tr>
                        <tr>
                            <td><b>{{ 'CROCCPTN' | translate}}</b></td>
                            <td>{{data.Occupation }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-12 text-justify">
                    <br />
                    {{data.AboutMe }}
                </div>
            </div>
            <div class="panel-footer">
                © {{'GENCOPYRT' | translate }} 2013 - {{data.SangamName }}
            </div>
        </div>
        <!-- Bottom Pagination-->
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/Scripts/Mugurtham.JS/Paging/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>
</div>