@{
    ViewBag.Title = "RecentlyJoined";
    Layout = "~/Areas/User/Views/Shared/LayoutUser.cshtml";
}

<p class="lead">{{ 'LYTRCNTLYJNDPROFILES' | translate }}</p>
<hr />
<div class="col-lg-12" data-ng-init="getRecentlyJoinedProfiles();">
    <ul class="breadcrumb">
        <li><a href="#ProfileUserDashboard">{{ 'GENHOME' | translate }} </a></li>
        <li class="active">{{ 'LYTRCNTLYJNDPROFILES' | translate }}</li>
    </ul>
</div>
<div class="col-lg-12">
    <br />
</div>
<div class="col-lg-12" id="TopPagination">
    <ul class="pagination">
        <li><a ng-disabled="currentPage == 0" ng-click="currentPage=0;showPage(0);">First</a></li>
        <li id="liTopPreviousPage"><a ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1;showPage(currentPage);">Previous </a></li>
    </ul>
    <ul id="ulPageNumber" class="pagination" ng-repeat="x in pageNumber">
        <li id="lipageNumber{{x}}"><a id="apageNumber{{x}}" ng-click="currentPage=x-1;showPage(currentPage);">{{ x }}</a></li>
    </ul>
    <ul class="pagination">
        <li id="liTopNextPage"><a ng-disabled="currentPage >= AllProfiles.length/pageSize - 1" ng-click="currentPage=currentPage+1;showPage(currentPage);">Next</a></li>
        <li><a ng-disabled="currentPage >= AllProfiles.length/pageSize - 1" ng-click="currentPage=roundNumber(AllProfiles.length/pageSize);showPage(roundNumber(AllProfiles.length/pageSize));">Last</a></li>
    </ul>

</div>
<div class="col-lg-12">
    <div class="panel panel-primary FormShadow" ng-repeat="data in AllProfiles | startFrom:currentPage*pageSize | limitTo:pageSize">
        <div class="panel-heading">
            <h3 class="panel-title text-center">{{data.BasicInfoCoreEntity.Name }} 
            </h3>
        </div>
        <div class="panel-body bgImage">
            <table class="mugurthamTable">
                <tr>
                    <td width="25%" class="FormShadow">
                        <div class="flexslider">
                            <ul class="slides">
                                <li ng-repeat="objProfilePhoto in data.PhotoCoreEntityList">
                                    <img src="{{objProfilePhoto.PhotoPath }}"  class = "img-thumbnail" style="height:200px; width:350px" />
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td width="85%" valign="top">
                        <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                            <tr>
                                <td class="col-lg-3">{{ 'GENPROFID' | translate}}</td>
                                <td class="col-lg-9"><a href="#/FullView/{{data.BasicInfoCoreEntity.ProfileID}}" target="_blank">{{data.BasicInfoCoreEntity.ProfileID }}</a></td>
                            </tr>
                            <tr>
                                <td>{{ 'BIAGE' | translate}}</td>
                                <td>{{data.BasicInfoCoreEntity.Age }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'BIGEN' | translate}}</td>
                                <td>{{data.BasicInfoCoreEntity.Gender }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'LYTPRFTABLOC' | translate}}</td>
                                <td>{{data.LocationCoreEntity.CountryLivingIn }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'CREDUC' | translate}}</td>
                                <td>{{data.CareerCoreEntity.Education }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'CROCCPTN' | translate}}</td>
                                <td>{{data.CareerCoreEntity.Occupation }}</td>
                            </tr>
                        </table>
                </tr>
                <tr>
                    <td valign="top" colspan="2" class="text-justify">
                        <br />
                        {{data.BasicInfoCoreEntity.AboutMe }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel-footer">© {{'GENCOPYRT' | translate }} 2013 - {{data.SangamCoreEntity.Name }}</div>
    </div>
</div>
<div class="col-lg-12" id="BottomPagination">
    <ul class="pagination">
        <li><a ng-disabled="currentPage == 0" ng-click="currentPage=0;showPage(0);showPage(0);">First</a></li>
        <li id="liBottomPreviousPage"><a ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1;showPage(currentPage);">Previous </a></li>
    </ul>
    <ul id="ulbottomPageNumber" class="pagination" ng-repeat="x in pageNumber">


        <li id="libottompageNumber{{x}}"><a id="abottompageNumber{{x}}" ng-click="currentPage=x-1;showPage(currentPage);">{{ x }}</a></li>
    </ul>
    <ul class="pagination">
        <li id="liBottomNextPage"><a ng-disabled="currentPage >= AllProfiles.length/pageSize - 1" ng-click="currentPage=currentPage+1;showPage(currentPage);">Next</a></li>
        <li><a ng-disabled="currentPage >= AllProfiles.length/pageSize - 1" ng-click="currentPage=roundNumber(AllProfiles.length/pageSize);showPage(roundNumber(AllProfiles.length/pageSize));">Last</a></li>
    </ul>
</div>
