<p class="lead">{{attrscope.pageHeader | translate}}</p>
<hr />
<div class="col-lg-12">
    <ul class="breadcrumb">
        <li><a href="#ProfileUserDashboard">{{ 'GENHOME' | translate }} </a></li>
        <li class="active">{{attrscope.pageHeader | translate}}</li>
    </ul>
</div>
<div id="divHighlightedProfiles" class="col-sm-8">


    <div class="col-lg-12">
        <!-- Filter Header-->
        <div class="row">
            <div class="col-xs-6">
                <label for="search">
                    {{
'SMRTSEARCH '| translate
                    }}
                </label>
                <!--http://stackoverflow.com/questions/6153047/detect-changed-input-text-box-->
                <input ng-model="q" id="opensearch" class="form-control" placeholder="Type Raasi or Location or ProfileID or anything here" oninput="setTimeout(displayThumbnailSlider, 10);">
            </div>
            <div class="col-xs-6">
                <label for="search">Profiles per page:</label>
                <input type="number" min="1" max="100" class="form-control" ng-model="attrscope.pageSize">
            </div><br /><br /><br /><br />
            <div class="col-xs-4">
                <h5><b>Total Searched Profiles : {{ attrscope.SearchedProfiles.length }} &nbsp;&nbsp;</b></h5>
            </div>
            <div class="col-xs-4">
                <h5>
                    <b>
                        Total Filtered Profiles : {{ (attrscope.SearchedProfiles  | filter: q |filter: (attrscope.starFilter) |filter: (attrscope.starFilter) |  filter: (attrscope.subcasteFilter) | filter: (attrscope.sangamFilter) | filter: (attrscope.ageFilter)   ).length}}
                    </b>
                </h5>
            </div>
            <div class="col-xs-4">

                <h5>
                    <b>
                        Showing Profiles {{ (((attrscope.currentPage * attrscope.pageSize) - attrscope.pageSize) + 1)  }}  through {{ attrscope.currentPage * attrscope.pageSize }} of  {{ (attrscope.SearchedProfiles |filter: (attrscope.starFilter) | filter: q |  filter: (attrscope.subcasteFilter) | filter: (attrscope.sangamFilter) | filter: (attrscope.ageFilter)  ).length}} &nbsp;&nbsp;
                    </b>
                </h5>
            </div>
            <p> <h4 class="text-danger">Filtered by {{attrscope.filterSubcasteSelected}} ,  {{attrscope.filterStarSelected}}</h4></p>
        </div>
        <!-- Top Pagination-->
        <div class="text-center bgImage">
            <dir-pagination-controls boundary-links="true" on-page-change="attrscope.pageChangeHandler(newPageNumber)" template-url="/Scripts/Mugurtham.JS/Paging/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
        <br />
        <!-- Profiles Listing-->
        <div class="panel panel-primary FormShadow" dir-paginate="data in attrscope.SearchedProfiles |  filter: q | filter: (attrscope.starFilter)   |  filter: (attrscope.subcasteFilter) | filter: (attrscope.sangamFilter) | filter: (attrscope.ageFilter)   | itemsPerPage: attrscope.pageSize" current-page="attrscope.currentPage">
            <div class="panel-heading">
                <h3 class="panel-title text-center">
                    <a href="#/FullView/{{data.MugurthamProfileID}}" target="_blank">  {{data.Name }}</a>
                </h3>
            </div>
            <div class="panel-body bgImage">
                <div class="col-lg-5">
                    <div class="flexslider">
                        <ul class="slides">
                            <li ng-repeat="objProfilePhoto in attrscope.profilePhotos | filter: {ProfileID: data.MugurthamProfileID}">
                                <img src="{{objProfilePhoto.PhotoPath }} " class="img-thumbnail" style="height:200px; width:350px" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7 table-responsive">
                    <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                        <tr>
                            <td class="col-lg-4"><b>{{ 'GENPROFID' | translate}}</b></td>
                            <td class="col-lg-8"><a href="#/FullView/{{data.MugurthamProfileID}}" target="_blank">{{data.MugurthamProfileID }}</a></td>
                        </tr>
                        <tr>
                            <td class="col-lg-4"><b>{{ 'GENSANGAMPROFID' | translate}}</b></td>
                            <td class="col-lg-8"><a href="#/FullView/{{data.MugurthamProfileID}}" target="_blank">{{data.SangamProfileID }}</a></td>
                        </tr>
                        <tr>
                            <td><b>{{ 'BIAGE' | translate}}</b></td>
                            <td>{{data.Age }}</td>
                        </tr>
                        <tr>
                            <td><b>{{ 'BISTR' | translate}}</b></td>
                            <td>{{data.Star }}</td>
                        </tr>
                        <tr>
                            <td><b>{{ 'LYTPRFTABLOC' | translate}}</b></td>
                            <td>{{data.Location }}</td>
                        </tr>
                        <tr>
                            <td><b>{{ 'CREDUC' | translate}}</b></td>
                            <td>{{data.Education }}</td>
                        </tr>
                        <tr>
                            <td><b>{{ 'CROCCPTN' | translate}}</b></td>
                            <td>{{data.Occupation }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-12 text-justify">
                    <br />
                    {{data.AboutMe }}
                </div>
            </div>
            <div class="panel-footer">
                © {{'GENCOPYRT' | translate }} 2013 - {{data.SangamName }}
            </div>
        </div>
        <!-- Bottom Pagination-->
        <div class="text-center bgImage">
            <dir-pagination-controls boundary-links="true" on-page-change="attrscope.pageChangeHandler(newPageNumber)" template-url="/Scripts/Mugurtham.JS/Paging/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>
</div>



<div class="col-sm-4">
    <div class="panel panel-primary FormShadow">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle">
                    Filter Panel
                </a>
            </h4>
        </div>

        <div class="row form-group ">
            <br />
            <label for="NomineeName" class="col-lg-12  text-center ">{{ 'BIAGE' | translate}}</label>
            <br />
            <div class="col-lg-12 ">
                <select class="form-control" ng-model="attrscope.fromAge" id="fromAge">
                    <option value="0" selected>From</option>
                    <option ng-repeat="arrFromAge in attrscope.arrFromAge" value="{{arrFromAge}}">{{arrFromAge}}</option>
                </select>
            </div>
            <div class="col-lg-12">
                <select class="form-control" ng-model="attrscope.toAge" id="toAge">
                    <option value="0" selected>To</option>
                    <option ng-repeat="arrToAge in attrscope.arrToAge" value="{{arrToAge}}">{{arrToAge}}</option>
                </select>
            </div>
        </div>
        <div id="collapseFive" class="panel-collapse collapse in">
            <div class="panel-body bgImage">
                <h3>Sub Caste</h3><hr />
                <ul class="list-group" ng-repeat="subcaste in attrscope.arrFilterSubCaste">
                    <li class="list-unstyled" ng-repeat="value in filtered = attrscope.SearchedProfiles | filter: ({SubCaste: subcaste}) : true | limitTo : 1  ">
                        <input type="checkbox"
                               id="chkSubCasteFilter"
                               name="chkSubCasteFilter"
                               value="{{subcaste}}"
                               ng-model="subCasteFilter"
                               ng-checked="selection.indexOf(subcaste) > -1"
                               ng-click="attrscope.filterSubCasteByThisItem(subcaste)">
                        <b>{{subcaste}}</b>&nbsp;<span class="badge">{{attrscope.getSubCasteFilterItemCount(subcaste)}}</span>
                    </li>
                </ul>

            </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body bgImage">
                <h3>Star</h3><hr />
                <ul class="list-group" ng-repeat="star in attrscope.arrFilterStar">
                    <li class="list-unstyled" ng-repeat="value in filtered = attrscope.SearchedProfiles | filter: ({Star: star}) : true | limitTo : 1  ">
                        <input type="checkbox"
                               id="chk{{star}}"
                               name="chk{{star}}"
                               value="{{star}}"
                               ng-checked="selection.indexOf(star) > -1"
                               ng-click="attrscope.filterStarByThisItem(star)">
                        {{star}}&nbsp;<span class="badge">{{attrscope.getStarFilterItemCount(star)}}</span>
                    </li>
                </ul>

            </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body bgImage">
                <h3>Sangam</h3><hr />
                <ul class="list-group" ng-repeat="sangam in attrscope.arrSangamMaster">

                    <li class="list-unstyled" ng-repeat="value in filtered = attrscope.SearchedProfiles | filter: ({SangamID: sangam.ID}) : true | limitTo : 1  ">
                        <input type="checkbox"
                               id="chk{{sangam.ID}}"
                               name="chk{{sangam.ID}}"
                               value="{{sangam.ID}}"
                               ng-checked="selection.indexOf(sangam.ID) > -1"
                               ng-click="attrscope.filterSangamByThisItem(sangam.ID)" />
                        {{sangam.Name}}&nbsp;<span class="badge">{{attrscope.getSangamFilterItemCount(sangam.ID)}}</span>
                    </li>
                </ul>

            </div>
        </div>

    </div>

</div>
