@{
    Mugurtham.Core.Login.LoggedInUser objLoggedIn = (Mugurtham.Core.Login.LoggedInUser)Session["LoggedInUser"];
}
<div data-ng-init="getByProfileID();">
    <ul class="breadcrumb">
        <li><a href="@objLoggedIn.HomePagePath" translate="">{{ 'GENHOME' | translate}}</a></li>
        <li><a href="#ProfileID">{{ 'GENSRCH' | translate}}</a></li>
        <li class="active">{{ 'GENVIEW' | translate}}</li>
    </ul>
</div>
<div class="text-right" id="divInterestButton">
    <button id="btnShowInterest" name="btnShowInterest" class="btn btn-primary" ng-click="showInterest();">Show Interest</button>
    <button id="btnRemoveInterest" name="btnRemoveInterest" class="btn btn-primary" ng-click="removeInterest();">Remove Interest</button>
    &nbsp;&nbsp;
    <a href="javascript:PrintFullProfile();">Print Profile</a>
</div>
<div>
    <br />
</div>
<!-- Full Profile View page-->
<div id="divSangamInfomration" class="panel panel-primary bs-example FormShadow">
    <div class="panel-heading">
        <h3 class="panel-title">{{ "VWSGMINFOFORPROFID" || translate }} {{ globalProfileID }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <table class="mugurthamTable">
                <tr>
                    <td width="30%">
                        <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                            <tr>
                                <td colspan="2">
                                    <blockquote>
                                        {{ 'VWRESTXT' | translate }}
                                    </blockquote>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2"><b>{{ 'BINAME' | translate }}</b></td>
                                <td>{{AllProfiles.SangamCoreEntity.Name }}</td>
                            </tr>
                            <tr>
                                <td class="col-lg-2"><b>{{ 'REFCONTNUM' | translate }}</b></td>
                                <td>{{AllProfiles.SangamCoreEntity.ContactNumber }}</td>
                            </tr>
                            <tr>
                                <td class="col-lg-2"><b>{{ 'VWCTADRS' | translate }}</b></td>
                                <td>{{AllProfiles.SangamCoreEntity.Address }}</td>
                            </tr>
                            <tr>
                                <td class="col-lg-2"><b>{{ 'VWABTSGM' | translate }}</b></td>
                                <td>{{AllProfiles.SangamCoreEntity.AboutSangam }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="divFullProfile" class="panel panel-primary bs-example FormShadow">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'VWFULLPROFVW' | translate }} {{globalProfileID}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <!-- ===================================================
                Image and About Me Start
                ====================================================
                -->
            <div class="col-lg-1"></div>
            <div class="col-lg-10 table-responsive">

                <div class="panel panel-primary bgImage FormShadow">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">
                            {{ 'GENABOUT' | translate }} - {{AllProfiles.BasicInfoCoreEntity.Name}}
                        </h3>
                    </div>
                    <div class="panel-body table-responsive text-center">
                        <div class="col-lg-3">
                            <img class="FormShadow" src="{{AllProfiles.BasicInfoCoreEntity.PhotoPath}}" width="180" height="190" />
                        </div>
                        <div class="col-lg-9 table-responsive">
                            <table>
                                <tr>
                                    <td class="text-justify">
                                        <blockquote>
                                            <b>
                                                {{ 'BIABTME' | translate }}
                                            </b>
                                            :<br />
                                            <p>{{AllProfiles.BasicInfoCoreEntity.AboutMe}}</p>
                                        </blockquote>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-justify">
                                        <blockquote>
                                            <b>
                                                {{ 'BIPRTNTEXPTN' | translate }}
                                            </b>
                                            :<br />
                                            <p>{{AllProfiles.BasicInfoCoreEntity.PartnerExpectation}}</p>
                                        </blockquote>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!--
                ====================================================
                Image and About Me End
                ====================================================
                -->
                <!-- ===================================================
                BasicInformation Start
                ====================================================
                -->
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="panel panel-primary bgImage FormShadow">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">
                                {{ 'LYTPRFTABBI' | translate }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table-responsive">
                                    <tr>
                                        <td width="30%">
                                            <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                                                <tr>
                                                    <td class="col-lg-2"><b>{{ 'GENPROFID' | translate }}</b></td>
                                                    <td class="col-lg-2">{{AllProfiles.BasicInfoCoreEntity.ProfileID}}</td>
                                                    <td class="col-lg-2"><b>{{ 'GENSANGAMPROFID' | translate }}</b></td>
                                                    <td class="col-lg-2">{{AllProfiles.BasicInfoCoreEntity.SangamProfileID}}</td>
                                                    <td class="col-lg-2"><b>{{ 'BIAGE' | translate }}</b></td>
                                                    <td class="col-lg-2">{{AllProfiles.BasicInfoCoreEntity.Age}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>{{ 'BIDOB' | translate }}</b></td>
                                                    <td><span id="dtDOB"></span></td>
                                                    <td><b>{{ 'BITOB' | translate }}</b> </td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.TamilDOB }}</td>
                                                    <td><b>{{ 'BIPOB' | translate }}</b> </td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.PlaceOfBirth }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>{{ 'BICST' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Caste }}</td>
                                                    <td><b>{{ 'BISUBCST' | translate }} </b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.SubCaste }}</td>
                                                    <td><b>{{ 'BIGOTHRM' | translate }} </b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Gothram }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>{{ 'BISTR' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Star }}</td>
                                                    <td><b>{{ 'BIPAADHAM' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Paadham }}</td>
                                                    <td><b>{{ 'BIRAASI' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Raasi }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>{{ 'BIHORMTCH' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.HoroscopeMatch }}</td>

                                                    <td><b>{{ 'BIANYDHSM' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.AnyDhosham }}</td>

                                                    <td><b>{{ 'BIMOTONG' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.MotherTongue }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>{{ 'BIHEIGHT' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Height }}</td>
                                                    <td><b>{{ 'BIWEIGHT' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Weight }}</td>
                                                    <td><b>{{ 'BICOMPLEXION' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Complexion }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>{{ 'BIPHYSTA' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.PhysicalStatus }}</td>
                                                    <td><b>{{ 'BIBDYTPE' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.BodyType }}</td>
                                                    <td><b>{{ 'BIBLGRP' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.BloodGroup }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>{{ 'BIMARSTATUS' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.MaritalStatus }}</td>
                                                    <td><b>{{ 'BINOOFCHIL' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.NoOfChildren }}</td>
                                                    <td><b>{{ 'BICHILLVNGST' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.ChildrenLivingStatus }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>{{ 'BIETNG' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Eating }}</td>

                                                    <td><b>{{ 'BIDRNKNG' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Drinking }}</td>

                                                    <td><b>{{ 'BISMKNG' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Smoking }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>{{ 'BIMOTONG' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.MotherTongue }}</td>
                                                    <td><b>{{ 'BIGEN' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Gender }}</td>
                                                    <td><b>{{ 'BIPROFCRBY' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.ProfileCreatedBy }}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-12"></div>
                <!--
                ====================================================
                BasicInformation End
                ====================================================
                -->
                <!-- ===================================================
                Confidential Information Start
                 ====================================================-->
                <div id="divconfidentialInfo">
                    <!-- ===================================================
                    Horoscope Start
                     ====================================================
                     -->
                    <!-- ===================================================
                    Dasabalance Start
                     ====================================================
                     -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <div class="panel panel-primary bgImage FormShadow">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">
                                    Dasabalance
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="mugurthamTable">
                                        <tr>
                                            <td width="30%">
                                                <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                                                    <tr>
                                                        <td class="col-lg-2"><b>DasaBalance</b></td>
                                                        <td class="col-lg-2">{{AllProfiles.HoroscopeCoreEntity.DasaBalance}}</td>
                                                        <td class="col-lg-2"><b>Year</b></td>
                                                        <td class="col-lg-2">{{AllProfiles.HoroscopeCoreEntity.Year}}</td>
                                                        <td class="col-lg-2"><b>Month</b></td>
                                                        <td class="col-lg-2">{{AllProfiles.HoroscopeCoreEntity.Month}}</td>
                                                        <td class="col-lg-2"><b>Day</b></td>
                                                        <td class="col-lg-2">{{AllProfiles.HoroscopeCoreEntity.Day}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-12"></div>



                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <div class="panel panel-primary bgImage FormShadow">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">
                                    Horoscope
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                                        <tr>
                                            <td align="center">
                                                <img id="imgProfileHoro" src="{{AllProfiles.HoroscopeCoreEntity.Path }}" width="620" height="420" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-12"></div>
                    <!--
                    ====================================================
                    Dasabalance End
                    ====================================================
                          -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <div class="panel panel-primary bgImage FormShadow">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">
                                    {{ 'LYTPRFTABHORO' | translate }}
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <table class="mugurthamTable">
                                        <tr>
                                            <td width="30%">
                                                <table class="mugurthamTable table-bordered table-hover FormShadow">
                                                    <tbody>
                                                        <tr>
                                                            <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam1}}</td>
                                                            <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam2}}</td>
                                                            <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam3}}</td>
                                                            <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam4}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam5}}</td>
                                                            <td colspan="2" rowspan="2" align="center" valign="middle" width="50%"><b>RAASI</b></td>
                                                            <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam6}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam7}}</td>
                                                            <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam8}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam9}}</td>
                                                            <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam10}}</td>
                                                            <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam11}}</td>
                                                            <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam12}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4"></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam1}}</td>
                                                            <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam2}}</td>
                                                            <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam3}}</td>
                                                            <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam4}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam5}}</td>
                                                            <td colspan="2" rowspan="2" align="center" valign="middle" width="50%"><b>AMSAM</b></td>
                                                            <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam6}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam7}}</td>
                                                            <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam8}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam9}}</td>
                                                            <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam10}}</td>
                                                            <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam11}}</td>
                                                            <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam12}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-12"></div>
                    <!--
                    ====================================================
                    Horoscope End
                    ====================================================
                    -->
                    <!-- ===================================================
                    Career Start
                     ====================================================
                     -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <div class="panel panel-primary bgImage FormShadow">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">
                                    {{ 'LYTPRFTABCAR' | translate }}
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                                        <tr>
                                            <td class="col-lg-2"><b>{{ 'CREDUC' | translate }}</b></td>
                                            <td class="col-lg-2">{{AllProfiles.CareerCoreEntity.Education}}</td>
                                            <td class="col-lg-2"><b>{{ 'CREDUCDT' | translate }}</b></td>
                                            <td class="col-lg-2">{{AllProfiles.CareerCoreEntity.EducationInDetail}}</td>
                                            <td class="col-lg-2"><b>{{ 'CREMPIN' | translate }}</b></td>
                                            <td class="col-lg-2">{{AllProfiles.CareerCoreEntity.EmployedIn}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>{{ 'CROCCPTN' | translate }}</b></td>
                                            <td>{{AllProfiles.CareerCoreEntity.Occupation }}</td>
                                            <td><b>{{ 'CROCCPTNDTL' | translate }}</b></td>
                                            <td>{{AllProfiles.CareerCoreEntity.OccupationInDetail }}</td>
                                            <td><b>{{ 'CRANINC' | translate }}</b></td>
                                            <td>{{AllProfiles.CareerCoreEntity.AnnualIncome }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-12"></div>
                    <!--
                    ====================================================
                    Career End
                    ====================================================
                    -->
                    <!-- ===================================================
                    Family Start
                     ====================================================
                     -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <div class="panel panel-primary bgImage FormShadow">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">
                                    {{ 'LYTPRFTABFAM' | translate }}
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                                        <tr>
                                            <td class="col-lg-2"><b>{{ 'FAMVAL' | translate }} </b></td>
                                            <td class="col-lg-2">{{AllProfiles.FamilyCoreEntity.FamilyValue}}</td>
                                            <td class="col-lg-2"><b>{{ 'FAMTYP' | translate }} </b></td>
                                            <td class="col-lg-2">{{AllProfiles.FamilyCoreEntity.FamilType}}</td>
                                            <td class="col-lg-2"><b>{{ 'FAMSTA' | translate }} </b></td>
                                            <td class="col-lg-2">{{AllProfiles.FamilyCoreEntity.FamilyStatus}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>{{ 'FAMPARENTSALIVE' | translate }} </b></td>
                                            <td>{{AllProfiles.FamilyCoreEntity.ParentsAlive }}</td>
                                            <td><b>{{ 'FAMFATNAM' | translate }} </b></td>
                                            <td>{{AllProfiles.FamilyCoreEntity.FathersName }}</td>
                                            <td><b>{{ 'FAMFATOCC' | translate }}</b></td>
                                            <td>{{AllProfiles.FamilyCoreEntity.FathersOccupation }}</td>
                                        </tr>
                                        <tr>
                                            <td><b>{{ 'FAMMOTNAM' | translate }}</b></td>
                                            <td>{{AllProfiles.FamilyCoreEntity.Mothersname }}</td>
                                            <td><b>{{ 'FAMMOTSUBSEC' | translate }}</b></td>
                                            <td>{{AllProfiles.FamilyCoreEntity.MothersSubSect }}</td>
                                            <td><b>{{ 'FAMMOTOCC' | translate }}</b></td>
                                            <td>{{AllProfiles.FamilyCoreEntity.MothersOccupation }}</td>
                                        </tr>
                                        <tr>
                                            <td><b>{{ 'FAMANSFAMORG' | translate }}</b></td>
                                            <td>{{AllProfiles.FamilyCoreEntity.FamilyOrigin }}</td>
                                            <td><b>{{ 'FAMNOOFBRO' | translate }} </b></td>
                                            <td>{{AllProfiles.FamilyCoreEntity.NoOfBrothers }}</td>
                                            <td><b>{{ 'FAMMARDBRO' | translate }}</b> </td>
                                            <td>{{AllProfiles.FamilyCoreEntity.MarriedBrothers }}</td>
                                        </tr>
                                        <tr>
                                            <td><b>{{ 'FAMABTFAM' | translate }} </b></td>
                                            <td>{{AllProfiles.FamilyCoreEntity.AboutFamily }}</td>
                                            <td><b>{{ 'FAMNOOFSIS' | translate }} </b></td>
                                            <td>{{AllProfiles.FamilyCoreEntity.NoOfSisters }}</td>
                                            <td><b>{{ 'FAMMARDSIS' | translate }} </b></td>
                                            <td>{{AllProfiles.FamilyCoreEntity.MarriedSisters }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-12"></div>
                    <!--
                    ====================================================
                    Family End
                    ====================================================
                    -->
                    <!-- ===================================================
                    Contact Start
                     ====================================================
                     -->
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <div class="panel panel-primary bgImage FormShadow">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">
                                    {{ 'LYTPRFTABCONT' | translate }}
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                                        <tr>
                                            <td><b>{{ 'CONNAME' | translate }}</b></td>
                                            <td>{{AllProfiles.ContactCoreEntity.Name }}</td>
                                            <td><b>{{ 'CONREL' | translate }}</b></td>
                                            <td>{{AllProfiles.ContactCoreEntity.Relationship }}</td>
                                            <td><b>{{ 'CONMOBNO' | translate }}</b></td>
                                            <td>{{AllProfiles.ContactCoreEntity.MobileNumber}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>{{ 'CONLNDNO' | translate }}</b></td>
                                            <td>{{AllProfiles.ContactCoreEntity.LandlineNumber}}</td>
                                            <td><b>{{ 'CONTMETOCALL' | translate }}</b> </td>
                                            <td>{{AllProfiles.ContactCoreEntity.TimeToCall }}</td>
                                            <td><b>{{ 'CONEMAIL' | translate }}</b></td>
                                            <td>{{AllProfiles.ContactCoreEntity.Email}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>{{ 'CONRESADR' | translate }}</b></td>
                                            <td colspan="5">{{AllProfiles.ContactCoreEntity.ResidentialAddress }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-12"></div>
                    <!--
                    ====================================================
                    Contact End
                    ====================================================
                    -->
                </div>
                <!-- ===================================================
                Confidential Information End
                 ====================================================-->
                <!-- ===================================================
                Location Start
                 ====================================================
                 -->
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="panel panel-primary bgImage FormShadow">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">
                                {{ 'LYTPRFTABLOC' | translate }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                                    <tr>
                                        <td class="col-lg-2"><b>{{ 'LOCTRYLVNIN' | translate }}</b></td>
                                        <td class="col-lg-2">{{AllProfiles.LocationCoreEntity.CountryLivingIn}}</td>
                                        <td class="col-lg-2"><b>{{ 'LOCTNSHP' | translate }}</b></td>
                                        <td class="col-lg-2">{{AllProfiles.LocationCoreEntity.CitizenShip}}</td>
                                        <td class="col-lg-2"><b>{{ 'LOCRESSTS' | translate }}</b></td>
                                        <td class="col-lg-2">{{AllProfiles.LocationCoreEntity.ResidentStatus}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>{{ 'LOCRESTATE' | translate }}</b></td>
                                        <td>{{AllProfiles.LocationCoreEntity.ResidingState }}</td>
                                        <td><b>{{ 'LOCRESCTY' | translate }}</b></td>
                                        <td>{{AllProfiles.LocationCoreEntity.ResidingCity }}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-12"></div>
                <!--
                ====================================================
                Location End
                ====================================================
                -->
                <!-- ===================================================
                Reference Start
                 ====================================================
                 -->
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="panel panel-primary bgImage FormShadow">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">
                                {{ 'LYTPRFTABREF' | translate }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                                    <tr>
                                        <td><b>{{ 'REFNOMNAME' | translate }}</b></td>
                                        <td>{{AllProfiles.ReferenceCoreEntity.NomineeName }}</td>
                                        <td><b>{{ 'REFCONTNUM' | translate }}</b></td>
                                        <td>{{AllProfiles.ReferenceCoreEntity.ContactNo }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-12"></div>
                <!--
                ====================================================
                Reference End
                ====================================================
                -->
            </div>
        </div>
        <div class="panel-footer">© {{ 'GENCOPYRT' | translate }} - {{AllProfiles.SangamCoreEntity.Name }}</div>
    </div>
</div>
