@{
    Mugurtham.Core.Login.LoggedInUser objLoggedIn = (Mugurtham.Core.Login.LoggedInUser)Session["LoggedInUser"];
}
<div data-ng-init="getByProfileID();">
    <ul class="breadcrumb">
        <li><a href="@objLoggedIn.HomePagePath" translate="">{{ 'GENHOME' | translate}}</a></li>
        <li><a href="#ProfileID">{{ 'GENSRCH' | translate}}</a></li>
        <li class="active">{{ 'GENVIEW' | translate}}</li>
    </ul>
</div>
<div class="text-right" id="divInterestButton">
    <button id="btnShowInterest" name="btnShowInterest" class="btn btn-primary" ng-click="showInterest(globalProfileID,true);">Show Interest</button>
    <button id="btnRemoveInterest" name="btnRemoveInterest" class="btn btn-primary" ng-click="removeInterest();">Remove Interest</button>
    &nbsp;&nbsp;
    <a href="javascript:PrintFullProfile();">Print Profile</a>
</div>
<div>
    <br />
</div>
<div class="alert alert-info fade in">
    <a class="close text-center" data-dismiss="alert" aria-label="close">&times;</a>
    <i class="fa fa-info-circle" aria-hidden="true"></i> <strong>You are allowed to access only 10 Full View profiles per day. You have now accessed {{AllProfiles.ProfileViewLimitation }} Full View profiles and left with {{10 - (AllProfiles.ProfileViewLimitation ) }} more for today.</strong>
</div>
<div>
    <br />
</div>
<!-- FullView Limitation Start-->
<div id="divFullViewLimitation" class="panel panel-primary bs-example FormShadow">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'VWSGMINFOFORPROFID' | translate }} {{ globalProfileID }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <table class="mugurthamTable">
                <tr>
                    <td width="30%">
                        <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                            <tr>
                                <td colspan="2">
                                    <blockquote>
                                        <b>You can view 10 profiles Full view per day. You have exceeded your limit. Please try Full view access again tomorow.</b>
                                    </blockquote>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!--FullView Limitation Ends-->
<!-- Full Profile View page-->
<div id="divSangamInfomration" class="panel panel-primary bs-example FormShadow">
    <div class="panel-heading">
        <h3 class="panel-title">{{ "VWSGMINFOFORPROFID" | translate }} {{ globalProfileID }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <table class="mugurthamTable">
                <tr>
                    <td width="30%">
                        <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                            <tr>
                                <td colspan="2">
                                    <blockquote>
                                        {{ 'VWRESTXT' | translate }}
                                    </blockquote>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-lg-2"><b>{{ 'BINAME' | translate }}</b></td>
                                <td>{{AllProfiles.SangamCoreEntity.Name }}</td>
                            </tr>
                            <tr>
                                <td class="col-lg-2"><b>{{ 'REFCONTNUM' | translate }}</b></td>
                                <td>{{AllProfiles.SangamCoreEntity.ContactNumber }}</td>
                            </tr>
                            <tr>
                                <td class="col-lg-2"><b>{{ 'VWCTADRS' | translate }}</b></td>
                                <td>{{AllProfiles.SangamCoreEntity.Address }}</td>
                            </tr>
                            <tr>
                                <td class="col-lg-2"><b>{{ 'VWABTSGM' | translate }}</b></td>
                                <td>{{AllProfiles.SangamCoreEntity.AboutSangam }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="divFullProfile" class="panel panel-primary bs-example FormShadow">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'VWFULLPROFVW' | translate }} {{globalProfileID}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <!-- ===================================================
                Image and About Me Start
                ====================================================
                -->
            <div class="col-lg-1"></div>
            <div class="col-lg-10 table-responsive">

                <div class="panel panel-primary bgImage FormShadow">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">
                            {{ 'GENABOUT' | translate }} - {{AllProfiles.BasicInfoCoreEntity.Name}}
                        </h3>
                    </div>
                    <div class="panel-body table-responsive text-center">
                        <div class="col-lg-3">
                            <img class="FormShadow" src="{{AllProfiles.BasicInfoCoreEntity.PhotoPath}}" width="180" height="190" />
                        </div>
                        <div class="col-lg-9 table-responsive">
                            <table>
                                <tr>
                                    <td class="text-justify">
                                        <blockquote>
                                            <b>
                                                {{ 'BIABTME' | translate }}
                                            </b>
                                            :<br />
                                            <p>{{AllProfiles.BasicInfoCoreEntity.AboutMe}}</p>
                                        </blockquote>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-justify">
                                        <blockquote>
                                            <b>
                                                {{ 'BIPRTNTEXPTN' | translate }}
                                            </b>
                                            :<br />
                                            <p>{{AllProfiles.BasicInfoCoreEntity.PartnerExpectation}}</p>
                                        </blockquote>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!--
                ====================================================
                Image and About Me End
                ====================================================
                -->
                <!-- ===================================================
                BasicInformation Start
                ====================================================
                -->
                <div class="col-lg-1">
                    <i class="fa fa-info-circle fa-5x"></i>

                </div>
                <div class="col-lg-10">
                    <div class="panel panel-primary bgImage FormShadow">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">
                                {{ 'LYTPRFTABBI' | translate }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table-responsive">
                                    <tr>
                                        <td width="30%">
                                            <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                                                <tr>
                                                    <td class="col-lg-2"><b>{{ 'GENPROFID' | translate }}</b></td>
                                                    <td class="col-lg-2">{{AllProfiles.BasicInfoCoreEntity.ProfileID}}</td>
                                                    <td class="col-lg-2"><b>{{ 'GENSANGAMPROFID' | translate }}</b></td>
                                                    <td class="col-lg-2">{{AllProfiles.BasicInfoCoreEntity.SangamProfileID}}</td>
                                                    <td class="col-lg-2"><b>{{ 'BIAGE' | translate }}</b></td>
                                                    <td class="col-lg-2">{{AllProfiles.BasicInfoCoreEntity.Age}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>{{ 'BIDOB' | translate }}</b></td>
                                                    <td><span id="dtDOB"></span></td>
                                                    <td><b>{{ 'BITOB' | translate }}</b> </td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.TOB }}</td>
                                                    <td><b>{{ 'BIPOB' | translate }}</b> </td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.PlaceOfBirth }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>{{ 'BICST' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Caste }}</td>
                                                    <td><b>{{ 'BISUBCST' | translate }} </b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.SubCaste }}</td>
                                                    <td><b>{{ 'BIGOTHRM' | translate }} </b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Gothram }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>{{ 'BISTR' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Star }}</td>
                                                    <td><b>{{ 'BIPAADHAM' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Paadham }}</td>
                                                    <td><b>{{ 'BIRAASI' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Raasi }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>{{ 'BIHORMTCH' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.HoroscopeMatch }}</td>

                                                    <td><b>{{ 'BIANYDHSM' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.AnyDhosham }}</td>

                                                    <td><b>{{ 'BIMOTONG' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.MotherTongue }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>{{ 'BIHEIGHT' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Height }}</td>
                                                    <td><b>{{ 'BIWEIGHT' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Weight }}</td>
                                                    <td><b>{{ 'BICOMPLEXION' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Complexion }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>{{ 'BIPHYSTA' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.PhysicalStatus }}</td>
                                                    <td><b>{{ 'BIBDYTPE' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.BodyType }}</td>
                                                    <td><b>{{ 'BIBLGRP' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.BloodGroup }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>{{ 'BIMARSTATUS' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.MaritalStatus }}</td>
                                                    <td><b>{{ 'BINOOFCHIL' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.NoOfChildren }}</td>
                                                    <td><b>{{ 'BICHILLVNGST' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.ChildrenLivingStatus }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>{{ 'BIETNG' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Eating }}</td>

                                                    <td><b>{{ 'BIDRNKNG' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Drinking }}</td>

                                                    <td><b>{{ 'BISMKNG' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Smoking }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>{{ 'BIMOTONG' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.MotherTongue }}</td>
                                                    <td><b>{{ 'BIGEN' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.Gender }}</td>
                                                    <td><b>{{ 'BIPROFCRBY' | translate }}</b></td>
                                                    <td>{{AllProfiles.BasicInfoCoreEntity.ProfileCreatedBy }}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-12"></div>
                <!--
                ====================================================
                BasicInformation End
                ====================================================
                -->
                <!-- ===================================================
                Horoscope Start
                 ====================================================
                 -->
                <!-- ===================================================
                Dasabalance Start
                 ====================================================

                <div class="col-lg-1">
                    <i class="fa fa-balance-scale fa-5x"></i>
                </div>
                <div class="col-lg-10">
                    <div class="panel panel-primary bgImage FormShadow">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">
                                Dasabalance
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="mugurthamTable">
                                    <tr>
                                        <td width="30%">
                                            <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                                                <tr>
                                                    <td class="col-lg-2"><b>DasaBalance</b></td>
                                                    <td class="col-lg-2">{{AllProfiles.HoroscopeCoreEntity.DasaBalance}}</td>
                                                    <td class="col-lg-2"><b>Year</b></td>
                                                    <td class="col-lg-2">{{AllProfiles.HoroscopeCoreEntity.Year}}</td>
                                                    <td class="col-lg-2"><b>Month</b></td>
                                                    <td class="col-lg-2">{{AllProfiles.HoroscopeCoreEntity.Month}}</td>
                                                    <td class="col-lg-2"><b>Day</b></td>
                                                    <td class="col-lg-2">{{AllProfiles.HoroscopeCoreEntity.Day}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-12"></div>

                ====================================================
                Dasabalance End
                ====================================================
                      -->
                <!-- ===================================================
                Confidential Information Start
                 ====================================================-->
                <div id="divconfidentialInfo">
                    <div class="col-lg-1">
                        <i class="fa fa-balance-scale fa-4x"></i>&nbsp;
                    </div>
                    <div class="col-lg-10">
                        <div class="panel panel-primary bgImage FormShadow">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">
                                    Horoscope
                                </h3>
                            </div>
                            <div class="panel-body">
                                <table class="mugurthamTable">
                                    <tr>
                                        <td width="30%">
                                            <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                                                <tr>
                                                    <td class="col-lg-2"><b>DasaBalance</b></td>
                                                    <td class="col-lg-2">{{AllProfiles.HoroscopeCoreEntity.DasaBalance}}</td>
                                                    <td class="col-lg-2"><b>Year</b></td>
                                                    <td class="col-lg-2">{{AllProfiles.HoroscopeCoreEntity.Year}}</td>
                                                    <td class="col-lg-2"><b>Month</b></td>
                                                    <td class="col-lg-2">{{AllProfiles.HoroscopeCoreEntity.Month}}</td>
                                                    <td class="col-lg-2"><b>Day</b></td>
                                                    <td class="col-lg-2">{{AllProfiles.HoroscopeCoreEntity.Day}}</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>


                                <div class="table-responsive">
                                    <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                                        <tr>
                                            <td align="center">
                                                <img id="imgProfileHoro" src="{{AllProfiles.HoroscopeCoreEntity.Path }}" width="620" height="420" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-12"></div>
                    <!--
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-10">
                                            <div class="panel panel-primary bgImage FormShadow">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title text-center">
                                                        {{ 'LYTPRFTABHORO' | translate }}
                                                    </h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <table class="mugurthamTable">
                                                            <tr>
                                                                <td width="30%">
                                                                    <table class="mugurthamTable table-bordered table-hover FormShadow">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam1}}</td>
                                                                                <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam2}}</td>
                                                                                <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam3}}</td>
                                                                                <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam4}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam5}}</td>
                                                                                <td colspan="2" rowspan="2" align="center" valign="middle" width="50%"><b>RAASI</b></td>
                                                                                <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam6}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam7}}</td>
                                                                                <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam8}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam9}}</td>
                                                                                <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam10}}</td>
                                                                                <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam11}}</td>
                                                                                <td width="25%">{{AllProfiles.RaasiCoreEntity.Kattam12}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="4"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam1}}</td>
                                                                                <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam2}}</td>
                                                                                <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam3}}</td>
                                                                                <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam4}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam5}}</td>
                                                                                <td colspan="2" rowspan="2" align="center" valign="middle" width="50%"><b>AMSAM</b></td>
                                                                                <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam6}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam7}}</td>
                                                                                <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam8}}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam9}}</td>
                                                                                <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam10}}</td>
                                                                                <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam11}}</td>
                                                                                <td width="25%">{{AllProfiles.AmsamCoreEntity.Kattam12}}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-12"></div>
                                       -->
                    <!--
                    ====================================================
                    Horoscope End
                    ====================================================
                    -->
                </div>
                <!-- ===================================================
                Confidential Information End
                 ====================================================-->
                <!-- ===================================================
                Career Start
                 ====================================================
                 -->
                <div class="col-lg-1">
                    <i class="fa fa-briefcase fa-5x"></i>
                </div>
                <div class="col-lg-10">
                    <div class="panel panel-primary bgImage FormShadow">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">
                                {{ 'LYTPRFTABCAR' | translate }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                                    <tr>
                                        <td class="col-lg-2"><b>{{ 'CREDUC' | translate }}</b></td>
                                        <td class="col-lg-2">{{AllProfiles.CareerCoreEntity.Education}}</td>
                                        <td class="col-lg-2"><b>{{ 'CREDUCDT' | translate }}</b></td>
                                        <td class="col-lg-2">{{AllProfiles.CareerCoreEntity.EducationInDetail}}</td>
                                        <td class="col-lg-2"><b>{{ 'CREMPIN' | translate }}</b></td>
                                        <td class="col-lg-2">{{AllProfiles.CareerCoreEntity.EmployedIn}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>{{ 'CROCCPTN' | translate }}</b></td>
                                        <td>{{AllProfiles.CareerCoreEntity.Occupation }}</td>
                                        <td><b>{{ 'CROCCPTNDTL' | translate }}</b></td>
                                        <td>{{AllProfiles.CareerCoreEntity.OccupationInDetail }}</td>
                                        <td><b>{{ 'CRANINC' | translate }}</b></td>
                                        <td>{{AllProfiles.CareerCoreEntity.AnnualIncome }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-12"></div>
                <!--
                ====================================================
                Career End
                ====================================================
                -->
                <!-- ===================================================
                Family Start
                 ====================================================
                 -->
                <div class="col-lg-1">
                    <i class="fa fa-home fa-5x"></i>
                </div>
                <div class="col-lg-10">
                    <div class="panel panel-primary bgImage FormShadow">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">
                                {{ 'LYTPRFTABFAM' | translate }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                                    <tr>
                                        <td class="col-lg-2"><b>{{ 'FAMVAL' | translate }} </b></td>
                                        <td class="col-lg-2">{{AllProfiles.FamilyCoreEntity.FamilyValue}}</td>
                                        <td class="col-lg-2"><b>{{ 'FAMTYP' | translate }} </b></td>
                                        <td class="col-lg-2">{{AllProfiles.FamilyCoreEntity.FamilType}}</td>
                                        <td class="col-lg-2"><b>{{ 'FAMSTA' | translate }} </b></td>
                                        <td class="col-lg-2">{{AllProfiles.FamilyCoreEntity.FamilyStatus}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>{{ 'FAMPARENTSALIVE' | translate }} </b></td>
                                        <td>{{AllProfiles.FamilyCoreEntity.ParentsAlive }}</td>
                                        <td><b>{{ 'FAMFATNAM' | translate }} </b></td>
                                        <td>{{AllProfiles.FamilyCoreEntity.FathersName }}</td>
                                        <td><b>{{ 'FAMFATOCC' | translate }}</b></td>
                                        <td>{{AllProfiles.FamilyCoreEntity.FathersOccupation }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>{{ 'FAMMOTNAM' | translate }}</b></td>
                                        <td>{{AllProfiles.FamilyCoreEntity.Mothersname }}</td>
                                        <td><b>{{ 'FAMMOTSUBSEC' | translate }}</b></td>
                                        <td>{{AllProfiles.FamilyCoreEntity.MothersSubSect }}</td>
                                        <td><b>{{ 'FAMMOTOCC' | translate }}</b></td>
                                        <td>{{AllProfiles.FamilyCoreEntity.MothersOccupation }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>{{ 'FAMANSFAMORG' | translate }}</b></td>
                                        <td>{{AllProfiles.FamilyCoreEntity.FamilyOrigin }}</td>
                                        <td><b>{{ 'FAMNOOFBRO' | translate }} </b></td>
                                        <td>{{AllProfiles.FamilyCoreEntity.NoOfBrothers }}</td>
                                        <td><b>{{ 'FAMMARDBRO' | translate }}</b> </td>
                                        <td>{{AllProfiles.FamilyCoreEntity.MarriedBrothers }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>{{ 'FAMABTFAM' | translate }} </b></td>
                                        <td>{{AllProfiles.FamilyCoreEntity.AboutFamily }}</td>
                                        <td><b>{{ 'FAMNOOFSIS' | translate }} </b></td>
                                        <td>{{AllProfiles.FamilyCoreEntity.NoOfSisters }}</td>
                                        <td><b>{{ 'FAMMARDSIS' | translate }} </b></td>
                                        <td>{{AllProfiles.FamilyCoreEntity.MarriedSisters }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-12"></div>
                <!--
                ====================================================
                Family End
                ====================================================
                -->
                <!-- ===================================================
                Contact Start
                 ====================================================
                 -->
                <div class="col-lg-1">
                    <i class="fa fa-volume-control-phone fa-5x"></i>
                </div>
                <div class="col-lg-10">
                    <div class="panel panel-primary bgImage FormShadow">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">
                                {{ 'LYTPRFTABCONT' | translate }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">

                                    <tr>
                                        <td class="col-lg-2"><b>{{ 'BINAME' | translate }}</b></td>
                                        <td>{{AllProfiles.SangamCoreEntity.Name }}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-2"><b>{{ 'REFCONTNUM' | translate }}</b></td>
                                        <td>{{AllProfiles.SangamCoreEntity.ContactNumber }}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-2"><b>{{ 'VWCTADRS' | translate }}</b></td>
                                        <td>{{AllProfiles.SangamCoreEntity.Address }}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-lg-2"><b>{{ 'VWABTSGM' | translate }}</b></td>
                                        <td>{{AllProfiles.SangamCoreEntity.AboutSangam }}</td>
                                    </tr>
                                    <!-- Remove Reference details in the bottomw as well
                                    <tr>
                                        <td><b>{{ 'CONNAME' | translate }}</b></td>
                                        <td>{{AllProfiles.ContactCoreEntity.Name }}</td>
                                        <td><b>{{ 'CONREL' | translate }}</b></td>
                                        <td>{{AllProfiles.ContactCoreEntity.Relationship }}</td>
                                        <td><b>{{ 'CONMOBNO' | translate }}</b></td>
                                        <td>{{AllProfiles.ContactCoreEntity.MobileNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>{{ 'CONLNDNO' | translate }}</b></td>
                                        <td>{{AllProfiles.ContactCoreEntity.LandlineNumber}}</td>
                                        <td><b>{{ 'CONTMETOCALL' | translate }}</b> </td>
                                        <td>{{AllProfiles.ContactCoreEntity.TimeToCall }}</td>
                                        <td><b>{{ 'CONEMAIL' | translate }}</b></td>
                                        <td>{{AllProfiles.ContactCoreEntity.Email}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>{{ 'CONRESADR' | translate }}</b></td>
                                        <td colspan="5">{{AllProfiles.ContactCoreEntity.ResidentialAddress }}</td>
                                    </tr>
                                        -->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-12"></div>
                <!--
                ====================================================
                Contact End
                ====================================================
                -->
                <!-- ===================================================
                Location Start
                 ====================================================
                 -->
                <div class="col-lg-1">
                    <i class="fa fa-map-marker fa-5x"></i>
                </div>
                <div class="col-lg-10">
                    <div class="panel panel-primary bgImage FormShadow">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">
                                {{ 'LYTPRFTABLOC' | translate }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                                    <tr>
                                        <td class="col-lg-2"><b>{{ 'LOCTRYLVNIN' | translate }}</b></td>
                                        <td class="col-lg-2">{{AllProfiles.LocationCoreEntity.CountryLivingIn}}</td>
                                        <td class="col-lg-2"><b>{{ 'LOCTNSHP' | translate }}</b></td>
                                        <td class="col-lg-2">{{AllProfiles.LocationCoreEntity.CitizenShip}}</td>
                                        <td class="col-lg-2"><b>{{ 'LOCRESSTS' | translate }}</b></td>
                                        <td class="col-lg-2">{{AllProfiles.LocationCoreEntity.ResidentStatus}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>{{ 'LOCRESTATE' | translate }}</b></td>
                                        <td>{{AllProfiles.LocationCoreEntity.ResidingState }}</td>
                                        <td><b>{{ 'LOCRESCTY' | translate }}</b></td>
                                        <td>{{AllProfiles.LocationCoreEntity.ResidingCity }}</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-12"></div>
                <!--
                ====================================================
                Location End
                ====================================================
                -->
                <!-- ===================================================
                Reference Start
                 ====================================================
                 -->

                <div class="col-lg-1">
                    <i class="fa fa-hand-o-right fa-5x"></i>
                </div>
                <div class="col-lg-10">
                    <div class="panel panel-primary bgImage FormShadow">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">
                                {{ 'LYTPRFTABREF' | translate }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="mugurthamTable table-striped table-bordered table-hover FormShadow ">
                                    <tr>
                                        <td><b>{{ 'REFNOMNAME' | translate }}</b></td>
                                        <td>{{AllProfiles.ReferenceCoreEntity.NomineeName }}</td>
                                        <td><b>{{ 'REFCONTNUM' | translate }}</b></td>
                                        <td>{{AllProfiles.ReferenceCoreEntity.ContactNo }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-12"></div>
                <!--
                ====================================================
                Reference End
                ====================================================
                -->
            </div>
        </div>
        <div class="panel-footer">© {{ 'GENCOPYRT' | translate }} - {{AllProfiles.SangamCoreEntity.Name }}</div>
    </div>
</div>
<div class="page-header"><h1>Similar profiles by Star you may be interested in</h1></div>
<div class="flexslider">
    <ul class="slides">
        <li ng-repeat="SimilarProfile in SimilarProfiles | filter: { Star: AllProfiles.BasicInfoCoreEntity.Star }  ">
            <div class="container">
                <div class="col-sm-2">
                    <div class="col-item">
                        <div class="photo" ng-repeat="SimilarProfilePhoto in SimilarProfilePhotos | filter: {ProfileID: SimilarProfile.MugurthamProfileID} |limitTo:1">
                            <img src="{{SimilarProfilePhoto.PhotoPath}}" class="img-responsive" alt="{{SimilarProfile.Name}}" />
                        </div>
                        <div class="info">
                            <div class="row">
                                <div class="price col-md-6">
                                    <h5>
                                        {{SimilarProfile.PhotoPath}}
                                    </h5>
                                    <h5 class="price-text-color">
                                        {{SimilarProfile.MugurthamProfileID}} 
                                    </h5>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    Age:
                                </div>
                                <div class="col-md-3">
                                    {{SimilarProfile.Age}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    Education:
                                </div>
                                <div class="col-md-3">
                                    {{SimilarProfile.Education}}
                                </div>

                            </div>
                            <div class="separator clear-left">
                                <p class="btn-add">
                                    <i class="fa fa-thumbs-up"></i><a style="cursor:pointer" ng-click="showInterest(SimilarProfile.MugurthamProfileID,false);" class="hidden-sm">Like</a>
                                </p>
                                <p class="btn-details">
                                    <i class="fa fa-file-text-o"></i><a href="#/FullView/{{SimilarProfile.MugurthamProfileID}}" class="hidden-sm">View</a>
                                </p>
                            </div>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </li>
    </ul>
</div>
<br /><br /><br />


<style>
    .col-item {
        border: 1px solid #E1E1E1;
        border-radius: 5px;
        background: #FFF;
    }

        .col-item .photo img {
            margin: 0 auto;
            height: 80%;
            width: 100%;
        }

        .col-item .info {
            padding: 10px;
            border-radius: 0 0 5px 5px;
            margin-top: 1px;
        }

        .col-item:hover .info {
            background-color: #F5F5DC;
        }

        .col-item .price {
            /*width: 50%;*/
            float: left;
            margin-top: 5px;
        }

            .col-item .price h5 {
                line-height: 20px;
                margin: 0;
            }

    .price-text-color {
        color: #219FD1;
    }

    .col-item .info .rating {
        color: #777;
    }

    .col-item .rating {
        /*width: 50%;*/
        float: left;
        font-size: 17px;
        text-align: right;
        line-height: 52px;
        margin-bottom: 10px;
        height: 52px;
    }

    .col-item .separator {
        border-top: 1px solid #E1E1E1;
    }

    .clear-left {
        clear: left;
    }

    .col-item .separator p {
        line-height: 20px;
        margin-bottom: 0;
        margin-top: 10px;
        text-align: center;
    }

        .col-item .separator p i {
            margin-right: 5px;
        }

    .col-item .btn-add {
        width: 50%;
        float: left;
    }

    .col-item .btn-add {
        border-right: 1px solid #E1E1E1;
    }

    .col-item .btn-details {
        width: 50%;
        float: left;
        padding-left: 10px;
    }

    .controls {
        margin-top: 20px;
    }

    [data-slide="prev"] {
        margin-right: 10px;
    }
</style>

