

/* Main DIV */
.m {
    width: 760px;
    padding: 20px;
    height: auto;
}

/* Left DIV */
.l {
    width: 140px;
    margin: 0px;
    padding: 0px;
    float: left;
    text-align: right;
}

/* Right DIV */
.r {
    width: 300px;
    margin: 0px;
    padding: 0px;
    float: right;
    text-align: left;
}

.a {
    clear: both;
    width: 470px;
    padding: 10px;
}

.bs-example {
    margin: 2px auto 10px 2px;
}

body {
    background-image: url(formbg.png);
}

.FormShadow {
    box-shadow: 0px 1px 10px 0PX RGBA(0, 0, 0, 0.24);
}

.bgImage {
    background-image: url(formbg.gif);
}

.bgBodyImage {
    background-image: url(formbg.png);
}

.mugurthamTable {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
    border-collapse: collapse;
    border-spacing: 0;
}

    .mugurthamTable td {
        padding: 6px;
    }

.flexslider {
}

.flex-control-nav {
    position: relative;
    bottom: auto;
}

.custom-navigation {
    display: table;
    width: 100%;
    table-layout: fixed;
}

    .custom-navigation > * {
        display: table-cell;
    }

    .custom-navigation > a {
        width: 50px;
    }

    .custom-navigation .flex-next {
        text-align: right;
    }


/* Jquery JSSOR Slider form Similar Profiles*/
/* jssor slider bullet navigator skin 03 css */
/*
        .jssorb03 div           (normal)
        .jssorb03 div:hover     (normal mouseover)
        .jssorb03 .av           (active)
        .jssorb03 .av:hover     (active mouseover)
        .jssorb03 .dn           (mousedown)
        */
.jssorb03 {
    position: absolute;
}

    .jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
        position: absolute;
        /* size of bullet elment */
        width: 21px;
        height: 21px;
        text-align: center;
        line-height: 21px;
        color: white;
        font-size: 12px;
        background: url('Images/b03.png') no-repeat;
        overflow: hidden;
        cursor: pointer;
    }

    .jssorb03 div {
        background-position: -5px -4px;
    }

        .jssorb03 div:hover, .jssorb03 .av:hover {
            background-position: -35px -4px;
        }

    .jssorb03 .av {
        background-position: -65px -4px;
    }

    .jssorb03 .dn, .jssorb03 .dn:hover {
        background-position: -95px -4px;
    }

/* jssor slider arrow navigator skin 03 css */
/*
        .jssora03l                  (normal)
        .jssora03r                  (normal)
        .jssora03l:hover            (normal mouseover)
        .jssora03r:hover            (normal mouseover)
        .jssora03l.jssora03ldn      (mousedown)
        .jssora03r.jssora03rdn      (mousedown)
        */
.jssora03l, .jssora03r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url('Images/a03.png') no-repeat;
    overflow: hidden;
}

.jssora03l {
    background-position: -3px -33px;
}

.jssora03r {
    background-position: -63px -33px;
}

.jssora03l:hover {
    background-position: -123px -33px;
}

.jssora03r:hover {
    background-position: -183px -33px;
}

.jssora03l.jssora03ldn {
    background-position: -243px -33px;
}

.jssora03r.jssora03rdn {
    background-position: -303px -33px;
}

.follow-us-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.follow-us {
    font-size: 32px;
    color: #777;
}

.social-icon {
    padding-top: 6px;
    font-size: 16px;
    text-align: center;
    width: 32px;
    height: 32px;
    border: 2px solid #777;
    border-radius: 50%;
    color: #777;
    margin: 5px;
}

a.social-icon:hover, a.social-icon:active, a.social-icon:focus {
    text-decoration: none;
    color: #434343;
    border-color: #434343;
}
/*Social Styling Starts*/
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

    ul.social-network li {
        display: inline;
        margin: 0 5px;
    }
/* footer social icons */

.social-network a.icoRss:hover {
    background-color: #F56505;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

    .social-network a.icoRss:hover i,
    .social-network a.icoFacebook:hover i,
    .social-network a.icoTwitter:hover i,
    .social-network a.icoGoogle:hover i,
    .social-network a.icoVimeo:hover i,
    .social-network a.icoLinkedin:hover i {
        color: #fff;
    }

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #D3D3D3;
}
/*Social Styling Ends*/

/*Modal Window on the Mugurtham  Master Page*/
.center {
    margin-top: 50px;
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}

    .modal-footer .btn-group button {
        height: 40px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: none;
    }

    .modal-footer .btn-group:last-child > button {
        border-right: 0;
    }
/*Modal Window on the Mugurtham Master Page ends*/
