

/* Main DIV */
.m {
    width: 760px;
    padding: 20px;
    height: auto;
}

/* Left DIV */
.l {
    width: 140px;
    margin: 0px;
    padding: 0px;
    float: left;
    text-align: right;
}

/* Right DIV */
.r {
    width: 300px;
    margin: 0px;
    padding: 0px;
    float: right;
    text-align: left;
}

.a {
    clear: both;
    width: 470px;
    padding: 10px;
}

.bs-example {
    margin: 2px auto 10px 2px;
}

body {
    background-image: url(formbg.png);
}

.FormShadow {
    box-shadow: 0px 1px 10px 0PX RGBA(0, 0, 0, 0.24);
}

.bgImage {
    background-image: url(formbg.gif);
}

.bgBodyImage {
    background-image: url(formbg.png);
}

.mugurthamTable {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
    border-collapse: collapse;
    border-spacing: 0;
}

    .mugurthamTable td {
        padding: 6px;
    }

.flexslider {
}

.flex-control-nav {
    position: relative;
    bottom: auto;
}

.custom-navigation {
    display: table;
    width: 100%;
    table-layout: fixed;
}

    .custom-navigation > * {
        display: table-cell;
    }

    .custom-navigation > a {
        width: 50px;
    }

    .custom-navigation .flex-next {
        text-align: right;
    }


/* Jquery JSSOR Slider form Similar Profiles*/
/* jssor slider bullet navigator skin 03 css */
/*
        .jssorb03 div           (normal)
        .jssorb03 div:hover     (normal mouseover)
        .jssorb03 .av           (active)
        .jssorb03 .av:hover     (active mouseover)
        .jssorb03 .dn           (mousedown)
        */
.jssorb03 {
    position: absolute;
}

    .jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
        position: absolute;
        /* size of bullet elment */
        width: 21px;
        height: 21px;
        text-align: center;
        line-height: 21px;
        color: white;
        font-size: 12px;
        background: url('Images/b03.png') no-repeat;
        overflow: hidden;
        cursor: pointer;
    }

    .jssorb03 div {
        background-position: -5px -4px;
    }

        .jssorb03 div:hover, .jssorb03 .av:hover {
            background-position: -35px -4px;
        }

    .jssorb03 .av {
        background-position: -65px -4px;
    }

    .jssorb03 .dn, .jssorb03 .dn:hover {
        background-position: -95px -4px;
    }

/* jssor slider arrow navigator skin 03 css */
/*
        .jssora03l                  (normal)
        .jssora03r                  (normal)
        .jssora03l:hover            (normal mouseover)
        .jssora03r:hover            (normal mouseover)
        .jssora03l.jssora03ldn      (mousedown)
        .jssora03r.jssora03rdn      (mousedown)
        */
.jssora03l, .jssora03r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url('Images/a03.png') no-repeat;
    overflow: hidden;
}

.jssora03l {
    background-position: -3px -33px;
}

.jssora03r {
    background-position: -63px -33px;
}

.jssora03l:hover {
    background-position: -123px -33px;
}

.jssora03r:hover {
    background-position: -183px -33px;
}

.jssora03l.jssora03ldn {
    background-position: -243px -33px;
}

.jssora03r.jssora03rdn {
    background-position: -303px -33px;
}

.follow-us-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.follow-us {
    font-size: 32px;
    color: #777;
}

.social-icon {
    padding-top: 6px;
    font-size: 16px;
    text-align: center;
    width: 32px;
    height: 32px;
    border: 2px solid #777;
    border-radius: 50%;
    color: #777;
    margin: 5px;
}

a.social-icon:hover, a.social-icon:active, a.social-icon:focus {
    text-decoration: none;
    color: #434343;
    border-color: #434343;
}
/*Social Styling Starts*/
ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

    ul.social-network li {
        display: inline;
        margin: 0 5px;
    }
/* footer social icons */

.social-network a.icoRss:hover {
    background-color: #F56505;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

    .social-network a.icoRss:hover i,
    .social-network a.icoFacebook:hover i,
    .social-network a.icoTwitter:hover i,
    .social-network a.icoGoogle:hover i,
    .social-network a.icoVimeo:hover i,
    .social-network a.icoLinkedin:hover i {
        color: #fff;
    }

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #D3D3D3;
}
/*Social Styling Ends*/

/*Modal Window on the Mugurtham  Master Page*/
.center {
    margin-top: 50px;
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}

    .modal-footer .btn-group button {
        height: 40px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: none;
    }

    .modal-footer .btn-group:last-child > button {
        border-right: 0;
    }
/*Modal Window on the Mugurtham Master Page ends*/


.info-box {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.bg-aqua {
    background-color: #00BCD4 !important;
    color: #fff;
}
.bg-yellow {
    background-color:  yellowgreen !important;
    color: #fff;
}
.bg-green {
    background-color: indianred !important;
    color: #fff;
}
.bg-red {
    background-color: darkred !important;
    color: #fff;
}

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    margin-bottom: 15px;
}

    .info-box small {
        font-size: 14px;
    }

    .info-box .progress {
        background: rgba(0,0,0,0.2);
        margin: 5px -10px 5px -10px;
        height: 2px;
    }

        .info-box .progress, .info-box .progress .progress-bar {
            border-radius: 0;
        }

            .info-box .progress .progress-bar {
                background: #fff;
            }

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}

    .info-box-icon > img {
        max-width: 100%;
    }

.info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
}

.info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
}

.progress-description, .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-box-text {
    text-transform: uppercase;
}

.info-box-more {
    display: block;
}

.progress-description {
    margin: 0;
}

.timeline {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}


.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.small-box > .inner {
    padding: 10px;
}

.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    text-decoration: none;
}

    .small-box > .small-box-footer:hover {
        color: #fff;
        background: rgba(0,0,0,0.15);
    }

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}

.small-box p {
    font-size: 15px;
}

    .small-box p > small {
        display: block;
        color: #f9f9f9;
        font-size: 13px;
        margin-top: 5px;
    }

.small-box h3, .small-box p {
    z-index: 5;
}

.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);
}

.small-box:hover {
    text-decoration: none;
    color: #f9f9f9;
}

    .small-box:hover .icon {
        font-size: 95px;
    }

@media (max-width:767px) {
    .small-box {
        text-align: center;
    }

        .small-box .icon {
            display: none;
        }

        .small-box p {
            font-size: 12px;
        }
}

/*=============================== List Grid Layout Start=================================*/
 

.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    border:none;
    
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
     
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
   
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}


  
/*=============================== List Grid Layout End=================================*/

/*================================Sangam Admin Control Panel Box Style Start================*/
 
@import "http://fonts.googleapis.com/css?family=Quicksand:700,400";

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: rgb(170,196,196); vertical-align: middle; }
.box > .icon:hover > .image { background: #6CB4C4; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Quicksand",sans-serif !important; font-size: 28px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Quicksand",sans-serif !important; font-size: 15px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon > .info > .more a { font-family: "Quicksand",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 2px; background-color: #6CB4C4;}
.btn-default { font-family: "Quicksand",sans-serif; background-color: #75b1ae; color: #FFFFFF;}
.btn-default:hover { background-color: #FFFFFF; color: black;}





/*================================Sangam Admin Control Panel Box Style Start================*/