

/* Main DIV */
.m {
    width: 760px;
    padding: 20px;
    height: auto;
}

/* Left DIV */
.l {
    width: 140px;
    margin: 0px;
    padding: 0px;
    float: left;
    text-align: right;
}

/* Right DIV */
.r {
    width: 300px;
    margin: 0px;
    padding: 0px;
    float: right;
    text-align: left;
}

.a {
    clear: both;
    width: 470px;
    padding: 10px;
}

.bs-example {
    margin: 2px auto 10px 2px;
}

body {
    background-image: url(formbg.gif);
}

.FormShadow {
    box-shadow: 0px 1px 10px 0PX RGBA(0, 0, 0, 0.24);
}

.bgImage {
    background-image: url(formbg.gif);
}
.bgBodyImage {
    background-image: url(formbg.gif);
}

.mugurthamTable {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
    border-collapse: collapse;
    border-spacing: 0;
}

    .mugurthamTable td {
        padding: 6px;
    }

.flexslider {
     
}

.flex-control-nav {
    position: relative;
    bottom: auto;
}

.custom-navigation {
    display: table;
    width: 100%;
    table-layout: fixed;
}

    .custom-navigation > * {
        display: table-cell;
    }

    .custom-navigation > a {
        width: 50px;
    }

    .custom-navigation .flex-next {
        text-align: right;
    }


/* Jquery JSSOR Slider form Similar Profiles*/
      /* jssor slider bullet navigator skin 03 css */
        /*
        .jssorb03 div           (normal)
        .jssorb03 div:hover     (normal mouseover)
        .jssorb03 .av           (active)
        .jssorb03 .av:hover     (active mouseover)
        .jssorb03 .dn           (mousedown)
        */
        .jssorb03 {
            position: absolute;
        }
        .jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
            position: absolute;
            /* size of bullet elment */
            width: 21px;
            height: 21px;
            text-align: center;
            line-height: 21px;
            color: white;
            font-size: 12px;
            background: url('img/b03.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb03 div { background-position: -5px -4px; }
        .jssorb03 div:hover, .jssorb03 .av:hover { background-position: -35px -4px; }
        .jssorb03 .av { background-position: -65px -4px; }
        .jssorb03 .dn, .jssorb03 .dn:hover { background-position: -95px -4px; }

        /* jssor slider arrow navigator skin 03 css */
        /*
        .jssora03l                  (normal)
        .jssora03r                  (normal)
        .jssora03l:hover            (normal mouseover)
        .jssora03r:hover            (normal mouseover)
        .jssora03l.jssora03ldn      (mousedown)
        .jssora03r.jssora03rdn      (mousedown)
        */
        .jssora03l, .jssora03r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 55px;
            height: 55px;
            cursor: pointer;
            background: url('img/a03.png') no-repeat;
            overflow: hidden;
        }
        .jssora03l { background-position: -3px -33px; }
        .jssora03r { background-position: -63px -33px; }
        .jssora03l:hover { background-position: -123px -33px; }
        .jssora03r:hover { background-position: -183px -33px; }
        .jssora03l.jssora03ldn { background-position: -243px -33px; }
        .jssora03r.jssora03rdn { background-position: -303px -33px; }
