@Model Mugurtham.Service.Controllers.ccavenueresponse
<h3>Please wait..</h3>
 
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script>
        $(document).ready(function () {
            window.location.href = "/Matrimony#/PaymentSuccess/@Model.TransactioID";
        });
    </script>