@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/SangamAdmin/Views/Shared/LayoutSangamAdmin.cshtml";
}

<div class="col-sm-12" data-ng-init="getChartData();">
    <h3>Sangam Admin Dashboard</h3>
    <hr />
</div>
<h3>This year sales by Month</h3>
<div id="chart1" style="height: 300px; width: 500px;"></div>
