@{
    ViewBag.Title = "Settings";
    Layout = "~/Areas/SangamAdmin/Views/Shared/LayoutSangamAdmin.cshtml";    
    Mugurtham.Core.Login.LoggedInUser objLoggedIn = (Mugurtham.Core.Login.LoggedInUser)Session["LoggedInUser"];
}

<h2>Settings</h2>
 <div ng-controller="ControllerUserChamber" data-ng-init="geUserChamberBadgeCount();">
    <ul class="breadcrumb">
        <li class="active"><a href="@objLoggedIn.HomePagePath" translate="">{{ 'GENHOME' | translate}}</a></li>
        <li>{{ 'LYTSETTINGS' | translate}}</li>
    </ul>
</div>

 <div>
        @using (Html.BeginForm("SaveSangamLogo",
                        "SangamAdmin",  
                        FormMethod.Post,  
                        new { enctype = "multipart/form-data" }))  
{                    
    <label for="file">Upload Sangam Logo:</label>  
    <input type="file" name="file" id="file"/><br><br>  
    <input type="submit" value="Upload Sangam Logo"/>  
    <br><br>  
    @ViewBag.Message  
}
    </div>

 <div>
        @using (Html.BeginForm("SaveSangamBanner",
                        "SangamAdmin",  
                        FormMethod.Post,  
                        new { enctype = "multipart/form-data" }))  
{                    
    <label for="file">Upload Sangam Banner:</label>  
    <input type="file" name="file" id="file"/><br><br>  
    <input type="submit" value="Upload Sangam Banner"/>  
    <br><br>  
    @ViewBag.Message  
}
    </div>

