@model.System.Web.Mvc.HandleErrorInfo
@{
    
    
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2>Sorry, an error occurred while processing your request.
    </h2>
    <br />
    <h2>
        @model.Exception
    </h2>
</body>
</html>
